html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    background-color: #dee4ebbe;
    line-height: 1.5;
    font-size: 16px;
    color: #383a3d;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
}

footer img {
    width: 80px;
}
